# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs/
*.log

# OS files
.DS_Store
Thumbs.db

Frontend/src/environments/*.ts
Frontend/src/environment.ts
Frontend/src/environment.prod.ts



# Build output
dist/
build/
out/

# Environment files
.env
.env.*

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Misc
coverage/
*.local
documentation.txt
